@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 20px;
}
header {
    background-color: #943c3c;
    color: #000000;
    padding: 20px;
    padding-bottom: 30px;
}
main {
    overflow: auto;
    background-color: rgba(245, 245, 245, 0.897);
}
header img {
    padding-top: 50px;
    width: 15%;
    float: left;
    /* display: inline-block; */
}
.wrapper {
    width: 980px;
    margin: 100px auto;
}
/* Type */
h1, 
h2, 
h3,
h4,
h5, 
h6 {
    font-family: 'Bitter', serif;
    margin-bottom: 20px;
    font-weight: bold;
}
h1 {
    font-size: 36px;
    padding: 45px;
    /* background-color: #00000015; */
    background-color: #86382b;
    display: inline-block;
}
h2 {
    border-bottom: 1px solid #00000060;
    padding-bottom: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}
h3 {
    text-transform: none;
}
p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
/* a */
a {
    color: goldenrod;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: goldenrod;
}
a:active {
    color: #943c3c;
}
/* Navs */
nav {
    float: right;
}
nav ul li a,
div.footernav ul li a,
div.homefooternav ul li a {
    text-decoration: none;
    background-color: rgb(134, 56, 43);
    padding: 10px 20px;
    text-transform: uppercase;
}
nav ul li a {
    display: block;
    padding: 12.2px 20px;
    /* 12.2px to match h1 height */
    width: 200px;
}
div.navcentre {
    display: table;
    margin: 0 auto;
}
div.navcentre ul li a{
    display: table-cell;
    width: 25%;  
}
nav ul li a:hover,
div.homefooternav ul li a:hover,
div.footernav ul li a:hover, 
a.currentpage { 
    background-color: lawngreen !important;
    /* I'm not sure why, but the footernav and homefooternav would get overridden by lines 82-89 without the !important */
    text-decoration: none;
}
.wrapper div.headernav ul li,
.wrapper div.footernav ul li,
div.homefooternav ul li {
    display: inline;
}
div.headernav {
    float: right;
}
div.footernav {
    padding-bottom: 80px;
}
div.homefooternav {
    margin-top: 30px;
}
/* Footer */
footer .wrapper {
    margin: 0px auto;
}
footer {
    background-color: #943c3c;
    padding: 60px 10px 10px;
}
footer p {
    text-align: center;
}
/* Content */
img {
    width: 80%;
    margin: 40px auto 50px;
    display: block;
}
.imgmain {
    width: 100%;
}
main ul {
    padding-bottom: 40px;
}
main ul li {
    padding-top: 10px;
}
h3.jump {
    padding-top: 15px;
    margin-bottom: 0px;
}
ul.jump {
    padding-bottom: 100px;
}
div.sidebyside {
    column-count: 2;
}
div.sidebyside img {
    height: 600px;
}  
div.imglist ul li img {
    width: 46%;
    display: inline-block;
    margin: 0px auto 30px;
}
div.imglist ul li p {
    display: inline-block;
    width: 46%;
    vertical-align: top;
    padding: 150px 0px 0px;
    text-align: center;
}
img.firstmainimg {
    width: 100%;
    margin: 0px auto 30px;
}
div.gallery {
    float: left;
    width: 30%;
    padding: 1%;
}
div.gallery img {
    width: 100%;
    margin: 0px;
}
